html {
  display: block;
 }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
   }
  
p {
  display: block;
  margin: 33px;
  }
th {
  padding-bottom: 5px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}
div.field,div.actions {
  margin-bottom: 10px;
}

label {
  display: block;
}

a:visited {
  color: #666;
}
 #notice {
  color: green;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

span {
  color: #000;
}